@import 'components/number-card/number-card.scss';


.main-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    padding-top: 50px;
    margin-bottom: 10px;
}

.main-side__number {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 20px;
}

.pagination {
    margin-top: 40px;
}
.pagingaton-number {
    display: flex;
    justify-content: center;
}

.pagination-sub{
    display: flex;
    justify-content: center;
    margin: 10px 0 70px 0;
}
.pagination ul {
    display: flex;
    
}


.pagination ul li {
    color: rgba(31, 32, 65, 0.5);
    list-style: none;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}


.pagination ul li.numb {
    width: 40px;
    height: 40px;
    border-radius: 22px;
}

.pagination ul .btn {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 22px;
    width: 40px;
    height: 40px;
}

.pagination ul li.active,
.pagination ul li.numb:hover,
.pagination ul li.btn:hover {
    color: #FFF;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
} 

.next div{
    width: 40px;
    height: 40px;
    background-image: url('./img/arrow-pag.svg');
    background-repeat: no-repeat;
    background-position: center;
}


.prev div{
    width: 40px;
    height: 40px;
    background-image: url('./img/arrow-pag.svg');
    background-repeat: no-repeat;
    background-position: center;
    rotate: 180deg;
}