include components/number-card/number-card.pug

mixin main-side-card()
    - const { data: roomsData } = require('data/number-card-data/number-card-data.json')

    .main-title Номера, которые мы для вас подобрали
    .main-side.number-swiper
        .main-side__number
            each roomData, key in roomsData
                if key < 12
                    a(href="room-details.html")
                        +room-hostel-card(roomData) 
        .pagination
            .pagingaton-number
                ul.pag-ul
            .pagination-sub
                p 1 – 12 из 100+ вариантов аренды