.radio
    //- .check-box__ul
    //-     input#smoke.custom-radio(type='radio' name='happy' value='yes')
    //-     label.checbox-title(for='man') Мужчина
    //- .check-box__ul
    //-     input#pets.custom-radio(type='radio' name='happy' value='yes')
    //-     label.checbox-title(for='woman') Женщина
    .radio-check
        <input class="custom-radio" name="color" type="radio" id="man" value="green">
        <label for="man">Мужчина</label>
    .radio-check
        <input class="custom-radio" name="color" type="radio" id="woman" value="green">
        <label for="woman">Женщина</label>