.radio
    //- .check-box__ul
    //-     input#smoke.custom-radio(type='radio' name='happy' value='yes')
    //-     label.checbox-title(for='man') Мужчина
    //- .check-box__ul
    //-     input#pets.custom-radio(type='radio' name='happy' value='yes')
    //-     label.checbox-title(for='woman') Женщина
    .radio-check
        input#man.custom-radio(name='color' type='radio' value='green')
        label.checbox-title(for='man') Мужчина
    .radio-check
        input#woman.custom-radio(name='color' type='radio' value='green')
        label.checbox-title(for='woman') Женщина