mixin radio-floor()
    .radio-check
        input#man.custom-radio(name='color' type='radio' value='green')
        label.checbox-title(for='man') Мужчина
    .radio-check
        input#woman.custom-radio(name='color' type='radio' value='green')
        label.checbox-title(for='woman') Женщина