.range-slider 
    .valueRange
        .min-value.numberValue 
            input(type="number" min="0" max="10000" value="2500" disabled)
        .max-value.numberValue 
            input(type="number" min="0" max="10000" value="7500" disabled)
    .range-slide
        .progress 
            input.range-min(type="range" min="0" max="10000" value="2500")
            input.range-max(type="range" min="0" max="10000" value="7500")
    