mixin like-btn(props={})
    - 
        const {
            supporLike = "",
            id = ""
        }=props
    .like-btn
        input(type='checkbox' class="like-button" id=`${id}`)
        label.count(for='like-button' id=`${id}`) #{supporLike.toLocaleString()}
