extends layouts/ui-kit.pug

block page 
  include components/header/header.pug
  include components/footer/footer.pug

  .headers-footers
      .headers
        .headers
          .header-user__standart
            +header()
          .header-user__authorized
            +header({user: true})
      .footer 
        +footer