extends layouts/ui-kit.pug

block page 
  include components/header/header.pug
  include components/footer/footer.pug
  include components/rights-reserved/rights-reserved.pug
  
  - const { data: headersdata } = require("data/header-menu/header-menu.json")

  .headers-footers
    .wrapper
      .headers
        .headers
          .header-user
            each dataHeader in headersdata
              +header(dataHeader)
      .footer 
        +footer
      .rights-reserved
        +rights-reserved