extends layouts/ui-kit.pug

block page 
  include components/header/header.pug
  include components/footer/footer.pug
  include components/rights-reserved/rights-reserved.pug
  
  .headers-footers
    .wrapper
      .headers
        .headers
          .header-user__standart
            +header()
          //- .header-user__authorized
          //-   +header({user: true})
      //- .footer 
      //-   +footer
      //- .rights-reserved
      //-   +rights-reserved