@import 'components/header/header.scss';
@import 'components/footer/footer.scss';
@import 'components/rights-reserved/rights-reserved.scss';

body{
    background: #E5E5E5;
}
.wrapper {
    margin: 120px 0;
}

.headers {
    margin-bottom: 40px;
}

.header-user{
    margin-bottom: 40px
}

.header-user .header {
    margin-bottom: 40px;
}

.footer {
    margin-bottom: 40px;
}
