.bullet-list {
    margin: 20px 100px;
    width: 271px;
    vertical-align: middle;
}
.conditions li{
    padding-left: 20px;
    background-image: url('./img/Ellipse.svg');
    background-repeat: no-repeat;
    background-position: 0 6px;
    margin-bottom: 10px;
}



.conditions__list{
    color: rgba(31, 32, 65, 0.75);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    list-style-type: none;
}

.cancellation {
    max-width: 340px;
}

.bullet-room h6 {
    margin-bottom: 20px;
}
