.bullet-list 
    ul.conditions
        li.conditions__list Нельзя с питомцами
        li.conditions__list Без вечеринок и мероприятий
        li.conditions__list Время прибытия — после 13:00,
            br
            | а выезд до 12:00