mixin rights-reserved
    .protection-rigths
            .protection-wrapper
                    .protection-logo 
                        a(href="#")
                            img(src=require("components/header/img/logo.svg"), alt="Logo") 
                    p Copyright © 2018 Toxin отель. Все права защищены.
                    .sub-footer__social
                            a(href="#")
                                img(src=require("components/footer/img/facebook.svg"), alt="") 
                            a(href="#")
                                img(src=require("components/footer/img/instagram.svg"), alt="") 
                            a(href="#")
                                img(src=require("components/footer/img/twitter.svg"), alt="") 