- const bookingFirstD = { id: 'bokkingFirst' };
- const bookingLastD = { id: 'bookingLast' };
- const bookingDrop = {content_id:'dropdown-booking', list_id:'dropdown-list__booking', btnClearGuestsId:'clear-booking', label:"Гости"};
include components/datapicker/air-datapicker.pug
include components/dropdown_guests/guests-drop.pug
mixin booking()
    .wrapper-booking 
            .room-price 
                p № 888
                    span люкс
                p.price 9 990₽ в сутки
            .datepicker-booking
                +datepicker({dateIndex: 2}, bookingFirstD.id, bookingLastD.id)
            .dropdown-booking
                +dropdown(bookingDrop)
            .booking-price 
                .price-day 
                    p 9 990₽ х 4 суток
                    p 39 960₽
                .service-fee
                    p Сбор за услуги: скидка 2 179₽
                        img(src=require("img/eclipse.svg"), alt="") 
                    p 0₽
                .service
                    p Сбор за дополнительные услуги
                        img(src=require("img/eclipse.svg"), alt="") 
                    p 300₽
            .result-price 
                p Итого
                span
                p 38 081₽
            .booking-button