

main 
    
    .intro 
        .container
            .main-intro
                .number-search 
                    h1.number-title Найдём номера под ваши пожелания
                
                .datepicker 
                    input.datepicker-here#airdatepicker(type='text' data-position='top right' data-min-view='months')
                    input.datepicker-here#airdatepicker2(type='text' data-position='top right' data-min-view='months') 
                    

                    