mixin datepicker() 
        .container
            .main-intro
                .number-search 
                    h1.number-title Найдём номера под ваши пожелания
                
                .datepicker
                    .datapicker-arrival 
                        h6.datapicker__arrival ПРИБЫТИЕ
                        .input__datepicker
                            input.datepicker-input#startDate(type='text' placeholder="дд.мм.гг" data-position='top right' data-min-view='months')
                    .datapicker-arrival 
                        h6.datapicker__exit УБЫТИЕ
                        .input__datepicker
                            input.datepicker-input#endDate(type='text' placeholder="дд.мм.гг" data-position='top right' data-min-view='months') 
                    .datepicker-wrapper
