datapicker 
    
    .intro 
        .container
            .main-intro
                .number-search 
                    h1.number-title Найдём номера под ваши пожелания
                
                .datepicker
                    .datapicker-arrival 
                        h6.datapicker__arrival ПРИБЫТИЕ
                        input.datepicker-here#airdatepicker(type='text' placeholder="дд.мм.гг" data-position='top right' data-min-view='months')
                    .datapicker-exit
                        h6.datapicker__exit УБЫТИЕ
                        input.datepicker-here#airdatepicker2(type='text' placeholder="дд.мм.гг" data-position='top right' data-min-view='months') 
                    