.main-intro{
    max-width: 380px;
    height: 374px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin: 100px auto;
    position: relative;
}

.number-search {
    width: 320px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 40px 30px;
}

.number-title{
    font-weight: 700;
    font-size: 28px;
    line-height: 29px;
}

.datepicker{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}



.datepicker-here{
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 150px;
    height: 44px;
    cursor: pointer;
    text-indent: 15px
}

input::placeholder{
    text-indent: 0;
}




.datapicker__arrival{
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    
}

.datapicker__exit{
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

.datepicker-here::placeholder{
    padding: 11px 32px 8px 15px;
    text-transform: uppercase;
}





.dateTest {
    position: absolute;
    display: none;
    height: 100%;
    left: 50%;
    max-width: 318px;
    width: 100%;
    z-index: 100;
    transform: translate(-50%);
    top: 241px;
}

.dateTest--opened {
    display: block;
    
}


.air-datepicker.-inline- {
    position: absolute;
    max-width: 318px;
    width: 100%;
    overflow: hidden;
}



// Repaint style
.air-datepicker-body--cells.-days-{
    grid-auto-rows: 40px;
}



.air-datepicker-nav--title {
    color: black;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
}

.air-datepicker-nav--title i{
    color: black;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
}
.air-datepicker-body--day-name {
    color:#BC9CFF;
    
}


// Arrow

.air-datepicker-cell.-selected-{
    color: white;
    border: none; 
    width: 40px;
    border-radius: 22px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}




.air-datepicker-cell:hover {
    border: none;
    width: 40px;
    border-radius: 22px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.air-datepicker-cell.-selected-.-focus- {
    border-radius: 22px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}



.air-datepicker-cell.-in-range- {
    background-color: rgba(188, 156, 255, 0.25);
    

    
}

.air-datepicker-cell.-in-range-:hover{
    background: rgba(188, 156, 255, 0.25);
}

//Buttons 
.air-datepicker-button{
    color: #BC9CFF;
}

.air-datepicker-cell.-range-from-:after {
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(188,156,255,.25)),to(rgba(139,164,249,.25)));
    background: linear-gradient(180deg,rgba(188,156,255,.25),rgba(139,164,249,.25));
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    width: 20px;
    z-index: -5;
}

