.button-click{
    margin: 20px 100px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    width: 87px;
    height: 34px;
    border-radius: 22px;
}
.button-click__mini{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    width: 87px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-click:hover{
    background: #c6b3f0;
}


.button-click:active{
    transform: scale(0.9);
    
}

.button-click__mini:active{
    color: #BC9CFF;
    background: #FFF;
    border: 1px solid #BC9CFF;
    border-radius: 22px;
}
