.field-block {
    position: relative;
}
input {
    width: 100%;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    padding: 13px 40px 13px 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    outline:none;
    display: block;
}


.input-wrapper__bithd {
    position: absolute;
    display: none;
    max-width: 320px;
    width: 100%;
    z-index: 100;
}

.input-wrapper__bithd .air-datepicker {
    top: 0px;
}

.wrapper__bithd__opened {
    display: block;
}

.air-datepicker {
    width: 320px;
    display: block;
}

.button{
    position: absolute;
    background: url("./img/arrow_forward.svg");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    width:44px; 
    right: 0;
    top: 0;
    height:44px; 
    border:0;
    cursor:pointer;
}