//- .rating-result
//-   span.active-rating
//-   span.active-rating
//-   span.active-rating
//-   span
//-   span

//- .star-rating
//-   input#star-a(type='radio' name='stars' value='5')
//-   label(for='star-a')
//-   input#star-b(type='radio' name='stars' value='4')
//-   label(for='star-b')
//-   input#star-c(type='radio' name='stars' value='3')
//-   label(for='star-c')
//-   input#star-d(type='radio' name='stars' value='2')
//-   label(for='star-d')
//-   input#star-e(type='radio' name='stars' value='1')
//-   label(for='star-e')

.star-rating
  input#star-a(type='radio' name='stars' value='5')
  label(for='star-a')
  input#star-b(type='radio' name='stars' value='4')
  label(for='star-b')
  input#star-c(type='radio' name='stars' value='3')
  label(for='star-c')
  input#star-d(type='radio' name='stars' value='2')
  label(for='star-d')
  input#star-e(type='radio' name='stars' value='1')
  label(for='star-e')
