- const firstD = { id: 'arrivalFerst' };
- const lastD = { id: 'arrivalLast' };
mixin arrival-number()
    .form-selection
    
            .title-text
    
                h1.selection-title Найдём номера под ваши пожелания
    
            .selection-datepicker
                //- +datepicker({dateIndex: 1}, firstD.id, lastD.id)
    
            .selection-dropdown
    
                //- h6.guests Гости
    
                +dropdown('dropdown-guests', 'dropdownList1', 'clear-id')
                //- +dropdown({
                //-     label: 'Гости',
                //-     type: 'guest',
                //-     data: TesDropdwon
                //- })

            .button-number