- const firstD = { id: 'arrivalFerst' };
- const lastD = { id: 'arrivalLast' };
mixin arrival-number()

    - const dropdownData = require('data/dropdown-guests-data.json')
    - const arrivalDrop = {content_id:'dropdown-guests', list_id:'dropdownList1', btnClearGuestsId:'clear-id',label:"Гости"}

    .form-selection
    
            .title-text
    
                h1.selection-title Найдём номера под ваши пожелания
    
            .selection-datepicker
                +datepicker({dateIndex: 1}, firstD.id, lastD.id, "Прибытие", "Выезд")
    
            .selection-dropdown
                +dropdown(arrivalDrop)
            a.button-number(href="search-room.html") 