
mixin arrival-number()
    .form-selection
    
            .title-text
    
                h1.selection-title Найдём номера под ваши пожелания
    
            .selection-datepicker
    
                +datepicker
    
            .selection-dropdown
    
                h6.guests Гости
    
                +dropdown('dropdown-guests', 'dropdownList1', 'clear-id')
            .button-number