mixin number-card()
    .number-hostel 
        .swiper.mySwiper
            .swiper-wrapper
                .swiper-slide 
                    img(src=require("components/number-card/img/number-hostel-1.svg"), alt="")
                .swiper-slide 
                    img(src=require("img/number-hostel-1.svg"), alt="")
                .swiper-slide 
                    img(src=require("img/number-hostel-1.svg"), alt="")
                .swiper-slide 
                    img(src=require("img/number-hostel-1.svg"), alt="")
            .swiper-button-next 
            .swiper-button-prev
            .swiper-pagination