include components/rating/rating.pug
mixin room-hostel-card(props = {})

    -
        const {
            numberCard = "",
            id = "0",
            images = [],
            isLuxury = false,
            price = 0,
            rating = "",
            feedback = ""

        } = props
    .number-hostel
        .swiper.mySwiper
            .swiper-wrapper
                each image in images
                    .swiper-slide 
                        img(src=require(`./img/${image}.svg`), alt="")
            .swiper-button-next 
            .swiper-button-prev
            .swiper-pagination
        .swiper-info 
            +card-room-info(props)

