mixin number-card()
    .number-hostel 
        .swiper.mySwiper
            .swiper-wrapper
                .swiper-slide
                    img(src=require("./img/number-hostel-1.svg"), alt="3")
                .swiper-slide 
                    img(src=require("./img/number-hostel-1.svg"), alt="3")
                .swiper-slide 
                    img(src=require("./img/number-hostel-1.svg"), alt="3")
                .swiper-slide 
                    img(src=require("./img/number-hostel-1.svg"), alt="4")
            .swiper-button-next 
            .swiper-button-prev
            .swiper-pagination