.checkbox 
    .check-box__ul
        input#smoke.custom-checkbox(type='checkbox' name='happy' value='yes')
        label.checbox-title(for='smoke') Можно курить
    .check-box__ul
        input#pets.custom-checkbox(type='checkbox' name='happy' value='yes')
        label.checbox-title(for='pets') Можно с питомцами
    .check-box__ul
        input#group-people.custom-checkbox(type='checkbox' name='happy' value='yes')
        label.checbox-title(for='group-people')  
            | Можно пригласить гостей
            br
            | (до 10 человек)