.check-box__ul{
    margin-bottom: 10px;
}

.check-box__ul:last-child{
    margin-bottom: 0;
}

.check-box__ul label {
    display: block;
    padding-right: 10px;
}

.check-box__ul input{
    vertical-align: middle;
}



