
.comfort {
    max-width: 260px;
}

.comfort-user {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
    width: 100%;
}


.border-user{
    border: 1px solid rgba(31, 32, 65, 0.1);
    width: 280px;
    margin-bottom: 20px;
}




.comfort-title {
    color: rgba(31, 32, 65, 0.75);
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
}

.comfort-text span{
    color: rgba(31, 32, 65, 0.75);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.comfort:last-child .border-user {
    display: none;
}