.comfort-user 
    .comfort-user__sound
        img(src=require ('./img/insert_emoticon.png'), alt="logo-comfort")
        .comfort-text 
            h6.comfort__title Комфорт
            span Шумопоглощающие стены
    .border-user
    
    .comfort-user__sound
        img(src=require ('./img/location_city.png'), alt="logo-comfort")
        .comfort-text 
            h6.comfort__title Комфорт
            span Окно в каждой из спален
    
    .border-user