.feedback 
    .feedback-avatar
        img(src=require ('./img/avatar.jpg'))
        include ../like-button/like-button

    .user-feedback
        .user-name 
            h6.user-feedback__title Мурад Сарафанов
            span.user-span  5 дней назад
        span Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.
            br
            | И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто
            br 
            | не жаловался из соседей.
