mixin calendarBlock(showInput = false)
        if showInput
            .calendar-block
                input.datepicker-block(type="text" placeholder="дд.мм") 
                .calendar
        else
            .calendar.calendar--visible(id="style-calendar")