@import 'components/datapicker/datapicker.scss';

.calendar .air-datepicker{
    position: inherit;
}

// .air-datepicker.-inline- {
//     max-width: 320px;
// }

.calendar {
    display: none;
    max-width: 266px;
}


.calendar--visible {
    display: block;
}

#style-calendar{
    max-width: 320px;
}

.datepicker-block {
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 266px;
    height: 44px;
    padding: 15px;
}

