@import 'components/datapicker/datapicker.scss';

.calendar .air-datepicker{
    position: inherit;
}

.calendar {
    display: none;
    width: 266px;
    position: absolute;
    top: 152px;
}


.calendar--visible {
    display: block;
}

#style-calendar{
    max-width: 320px;
}

.datepicker-block {
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 266px;
    height: 44px;
    position: relative;
    padding: 15px;
    outline: none;
}

