.header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-user{
    display: flex;
    align-items: center;
    grid-gap: 20px;
}

.header-item{
    list-style: none;
    display: flex;
    align-items: center;
    
    
}

.menu-link{
    font-family: $font-family;
    font-weight: 400;
    font-size: 1rem;
    line-height: 17px;
    color: $text-transparency;
    
}

.header-pic{
    vertical-align: middle;
}

.user{
    display: flex;
    grid-gap: 20px;
}

.button-enter{
    
    border-radius: 22px;
    outline: 1px solid #8BA4F9;
    
    cursor: pointer;
}

.button-enter:hover{
    color: white;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    
}

.button-enter:active{
    transform: scale(0.9);
}

.button-register{
    
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    
    cursor: pointer;
    
}

.button-register:hover{
    background: white;
}

.button-register:active{
    transform: scale(0.9);
}

.enter{
    color: $text-enter_button;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    width: 87px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter:hover{
    color: white;
}


.register{
    color: white;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    width: 196px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register:hover{
    outline: 1px solid #8BA4F9;
    color: #BC9CFF;
    border-radius: 22px;
}

