include components/toggle-button/toggle-button.pug
include components/buttons/button-max/button-max.pug
include components/buttons/button-min/button-min.pug
include components/radio-checkbox/radio-checkbox.pug


- const name = {type: "text", placeholder: "Имя"};
- const surname = {type: "text", placeholder: "Фамилия"};
- const dateOfBirth = {id: "inputBirth",type: "text", placeholder: "ДД.ММ.ГГГГ"};
- const email = {type: "email", placeholder: "Email"};
- const pasword = {type: "password", placeholder: "Пароль"};

mixin registration-card()
    .wrapper-registration 
        .registration-user
            h1 Регистрация аккаунта
            .person-name 
                +inputField(name)
                +inputField(surname)
                .radio-floor
                    +radio-floor
            .person-date_bithd
                h6 Дата рождения
                +inputField(dateOfBirth, true)
            .person-data
                h6 Данные для входа в сервис
                +inputField(email)
                +inputField(pasword)
                .person-data_toggle
                    +toggle
            .button-registation__user
            .button-user__enter
                | Уже есть аккаунт на Toxin
                .button-enter
