.email__input{
    margin: 100px 100px;
}

.email-block{
    width: 320px;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    
}

.email-input{
    
    
}
.email-input::placeholder{
    color: rgba(31, 32, 65, 0.25);
    padding: 13px 0 13px 15px;
}

.email__title{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.email-input:hover{
    color: rgba(31, 32, 65, 0.75);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.email-input:focus{
    color: rgba(31, 32, 65, 0.75);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}