mixin authorization() 
    - const email = {type: "email", placeholder: "Email"};
    - const pasword = {type: "password", placeholder: "Пароль"};
    .authorization-wrapper
        h1 Войти
        .field-authorization
            +inputField(email)
            +inputField(pasword)
        .authorization-enter
        .authorization-create 
            | Нет аккаунта на Toxin?
            .button-authorization
