
//- include components/inputs_fields/inputs.pug
//- include components/buttons/button-min/button-min.pug

//- - const email = {type: "email", placeholder: "Email"};
//- - const pasword = {type: "password", placeholder: "Пароль"};

mixin authorization() 
    .authorization-wrapper
        h1 Войти
        .field-authorization
            +inputField(email)
            +inputField(pasword)
        .authorization-enter
        .authorization-create 
            | Нет аккаунта на Toxin?
            .button-authorization
