

@import 'components/header/header.scss';
@import 'components/buttons/button-max/button-max.scss';
@import 'components/nav-side__card/nav-side.scss';
@import 'components/main-side-card/main-side-card.scss';
@import 'components/footer/footer.scss';
@import 'root-style';


.search-container {
    max-width: 1200px;
    margin: 0 auto;
    
}


.number-hostel {
    width: 100%;
}

.nav-aside {
    padding-top: 50px;
    // padding: 50px 60px 0 0;
    width: 266px;
}

.search-wrapper {
    display: grid;
    grid-template-columns: 320px 1fr;
    padding: 0 15px;
    
}

@media (max-width:625px) {
    .search-wrapper {
        grid-template-columns: 1fr;
    }
}


@media (max-width:625px) {
    .nav-aside {
        width: 100%;
    }
}
