extends layouts/main.pug

block page
    include components/header/header.pug
    include components/nav-side__card/nav-side.pug
    include components/main-side-card/main-side-card.pug

    - const { data: headersdata } = require("data/header-menu/header-menu.json")

    .header 
            each dataHeader, index in headersdata
                if index <1
                    +header(dataHeader)
    .search-main
        .search-container
            .search-wrapper 
                .nav-aside 
                    +nav-aside
                .main-number__hostel
                    +main-side-card
    script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")