extends layouts/main.pug

block page
    include components/header/header.pug
    include components/nav-side__card/nav-side.pug

    - const { data: headersdata } = require("data/header-menu/header-menu.json")

    .header 
            each dataHeader, index in headersdata
                if index <1
                    +header(dataHeader)
    .search-main
        .search-container
            .search-wrapper 
                .nav-aside 
                    +nav-aside