
.rich-title{
    color: rgba(31, 32, 65, 0.75);
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
}

.rich-box__hallway label {
    display: block;
    padding-right: 10px;
    padding-left: 22px;
    text-indent: -22px;
    margin-bottom: 10px;
}

.rich-box__ul .rich-title{
    vertical-align: middle;
    position: relative;
    top: -18px;
    left: 24px;
}

.rich-box__ul .chec-text{
    vertical-align: middle;
    width: 203px;

}

.rich-text{
    position: relative;
    top: -20px;
    left: 3px;
}
.rich-box__hallway {
  padding-top: 10px;
}

.rich-box__hallway input {
  vertical-align: middle;
}
.rich-box__hallway label span {
  vertical-align: top;
}

.head{
  color: rgba(31, 32, 65, 0.75);
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

