@import 'components/buttons/button-min/button-min.scss';
@import 'components/buttons/button-max/button-max.scss';
@import 'root-style';

.header {
    position: relative;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

//// test burger start

.header-burger__btn {
    z-index: 2;
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    background-color: aqua;
}
.header-burger__btn span {
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: black;
    left: 2.5px;
}
.header-burger__btn span:nth-child(1) {
    transform: translateY(-10px);
}
.header-burger__btn span:nth-child(3) {
    transform: translateY(10px);
}  


/// test burger end


.menu-list {
    list-style-type: none;
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.nav-menu ul li {
    display: flex;
    align-items: center;
    white-space: nowrap;
}


a{
    text-decoration: none;
}

.menu-item{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
}

.menu-list li:first-child .menu-item{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.75);
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 20px
}

.border-veritical {
    height: 30px;
    border: 1px solid rgba(31, 32, 65, 0.1);
}
.nav-arrow {
    position: relative;
    width: 15px;
}

/// style nav-dropdown
.nav-arrow::after {
    content: "";
    display: inline-block;
    transform: rotate(45deg);
    height: 5px;
    width: 5px;
    cursor: pointer;
    border-bottom: 3px solid rgba(31, 32, 65, 0.5);;
    border-right: 3px solid rgba(31, 32, 65, 0.5);;

    pointer-events: none;

    position: absolute;
    top: -4px;
    right: 3px;
}

.nav-arrow.animation-arrow::after {
    margin-top: 5px;
    transform: rotate(-135deg);
}

/////// end

.user-authorized{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
}




.user-open {
    @include button-click__min;
    

    &::before {
        content: "Войти";
        width: 87px;
        height: 34px
    }
}



.user-registration {
    @include button-click_big;
    height: 34px;
    width: 196px;
    &::before {
        content: "Зарегистрироваться";
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1024px){
    .user-registration{
        width: 160px;
        &::before {
            font-size: 0.7rem;
        }
    }
}


@media (max-width: 992px) {
    .header-burger__btn {
        display: block;
    }
    .nav-menu {
        padding: 65px 20px 20px 20px;
        position: absolute;
        // display: block;
        display: none;
        width: 200px;
        // right: -200px;
        right: 0;
        top: 0;
        background-color: blueviolet;
    }
    .menu-list {
        display: block;
    }
    .menu-item {
        color: #FFFFFF;
        display: block;
        padding: 10px 0px;
    }

    .nav-menu__open {
        display: block;
    }
}