mixin header(props={})
    -
        const {
            user = false
        }=props
        let menu = ["О нас", "Услуги", "Вакансии", "Новости", "Соглашения"]
    .header 
        .header-container
            .header-wrapper 
                .nav-logo 
                    a(href="#")
                        img(src=require("img/logo.svg"), alt="Logo") 
                .nav-menu
                    ul.menu-list 
                        li 
                            a.menu-item(href="#") О нас
                        li 
                            a.menu-item(href="#") Услуги
                            .nav-arrow
                        li 
                            a.menu-item(href="#") Вакансии
                        li 
                            a.menu-item(href="#") Новости
                        li 
                            a.menu-item(href="#") Соглашения
                            .nav-arrow
                    if user == true
                        .border-veritical
                        a.user-authorized(href="#") Юлий Цезарь 
                    else
                        a.user-open(href="form-elements.html") 
                        a.user-registration(href="#")