mixin header(props={})
    -
        const {
            user = false
        }=props
        let menu = ["О нас", "Услуги", "Вакансии", "Новости", "Соглашения"]
    .header 
        .header-container
            .header-wrapper 
                .nav-logo 
                    img(src=require("img/logo.svg"), alt="Logo")
                .nav-menu
                    ul.menu-list 
                        each i in menu 
                            li
                                a(href="#")=i
                    if user == true
                        .border-veritical
                        a(href="#") Юлий Цезарь 
                    else
                        a.user-open(href="form-elements.html") 
                        a.user-registration(href="#")