mixin header(props = {})

    -
        const {
            user = "",
            servies = "",
            agreements = "",
            btnId = "",
            account = ""
        } = props

    .header 
        .header-container
            .header-wrapper 
                .nav-logo 
                    a(href="#")
                        img(src=require("img/logo.svg"), alt="Logo")
                button.header-burger__btn(id=`${btnId}`)
                    span 
                    span 
                    span 
                .nav-menu
                    ul.menu-list 
                        li 
                            a.menu-item(href="#") О нас
                        li 
                            a.menu-item(href="#") Услуги
                            .nav-arrow
                            .menu-servies=servies
                        li 
                            a.menu-item(href="#") Вакансии
                        li 
                            a.menu-item(href="#") Новости
                        li 
                            a.menu-item(href="#") Соглашения
                            .nav-arrow
                    if user
                        .border-veritical
                        a.user-authorized(href="#")=account 
                    else
                        a.user-open(href="form-elements.html") 
                        a.user-registration(href="#")