

header
    .container
        .header
            .header-logo
                a(href="#")
                    img(src=require ("./img/logo.svg"), alt="")

            .menu-burger__header 
                span 
                
            .header-user 
                ul.nav
                li.header-item 
                    a.menu-link(href="#") О нас
                    
                li.header-item 
                    a.menu-link(href="#") Услуги 
                        img.header-pic(src=require ("./img/expand_more.svg"), alt="") 
                    
                li.header-item 
                    a.menu-link(href="#") О нас
                li.header-item 
                    a.menu-link(href="#") О нас
                li.header-item 
                    a.menu-link(href="#") Услуги 
                        img.header-pic(src=require ("./img/expand_more.svg"), alt="")
            
                .user
                    .button-enter 
                        a(class='enter', href='#') ВОЙТИ
                    .button-register 
                        a(class='register', href='#') ЗАРЕГИСТРИРОВАТЬСЯ