extends layouts/ui-kit.pug

block page
    include components/datapicker/air-datapicker.pug
    include components/dropdown_guests/guests-drop.pug
    include components/conveniences/conveniences.pug
    include components/booking-card/booking-card.pug
    include components/arrival-card/arrival.pug
    include components/inputs_fields/inputs.pug
    include components/registration-user/registration-card.pug
    include components/authorization-card/authorization.pug
    include components/datepicker-card/date-card.pug
    include components/number-card/number-card.pug
    include components/card-room-info/card-room-info.pug
    
    - const { data: roomsData } = require('data/number-card-data/number-card-data.json')
    
    
    .cards-wrapper
        .card-container
            .cards
                .cards-columns
                    +arrival-number
                    +registration-card
                .cards-columns
                    +booking
                    +authorization
                .cards-columns
                    +calendarBlock
                    each roomData, key in roomsData 
                        if key <= 1
                            .cards-room
                                +room-hostel-card(roomData)