@import 'components/datapicker/datapicker.scss';
@import 'components/dropdown_guests/guests-drop.scss';
@import 'components/conveniences/conveniences.scss';
@import 'components/buttons/button-max/button-max.scss';
@import 'components/booking-card/booking-card.scss';
@import 'components/inputs_fields/inputs.scss';
@import 'components/registration-user/registration-card.scss';
@import 'components/authorization-card/authorization.scss';
@import 'components/datepicker-card/date-card.scss';
@import 'components/number-card/number-card.scss';
@import 'root-style';

body { 
    background: #E5E5E5;
}

.card-container {
    max-width: 1200px;
    margin: 0 auto;
}
.cards {
    margin: 140px 0;
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    justify-content: center;
    align-items: start;
    grid-template-columns: 380px 380px 320px;
    grid-row-gap: 40px;
    column-gap: 40px;
    padding: 0 15px;
}
.cards-columns  {
    display: grid;
    gap: 40px;
}

.form-selection {
    width: 100%;
    // height: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 30px 30px 30px;
}

.title-text {
    width: 100%;
    margin: 0 auto;
}

.selection-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

// .selection-datepicker {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

.selection-dropdown {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

.guests {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.selection-button {
    width: 100%;
    margin: 31px auto 0 auto;
}

.button-number {
    margin-top: 31px;
    @include button-click_big;

    &::before {
        content: "Подобрать номер";
    }
}
.cards-columns .cards-room .swiper-slide {
    width: 100%;
}

@media screen and (max-width: 1200px){
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 768px){
    .cards {
        grid-template-columns: 1fr;
    }
}
