@import 'components/datapicker/datapicker.scss';
@import 'components/dropdown_guests/guests-drop.scss';
@import 'components/conveniences/conveniences.scss';
@import 'components/buttons/button-max/button-max.scss';
@import 'components/booking-card/booking-card.scss';
@import 'components/inputs_fields/inputs.scss';
@import 'components/registration-user/registration-card.scss';
@import 'root-style';

.form-selection {
    margin-top: 20px;
    width: 380px;
    height: 374px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 30px 30px 30px;
}

.title-text {
    max-width: 320px;
    margin: 0 auto;
}

.selection-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.selection-datepicker {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selection-dropdown {
    max-width: 320px;
    margin: 0 auto;
    margin-top: 20px;
}

.guests {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.selection-button {
    // max-width: 320px;
    margin: 31px auto 0 auto;
}

.button-number {
    margin-top: 31px;
    @include button-click_big;

    &::before {
        content: "Подобрать номер";
    }
}