mixin photo(props={})
    -
        const {
            roomImage = ''
        }=props
    
    .room-backround
        each image in roomImage
            .testov
                img(src=require(`./img/${image}.svg`), alt="")