.room-backround {
    display: grid;
    grid-template-columns: 68% 32%;
    grid-template-areas: 
        "room-1 room-2"
        "room-1 room-3";
    line-height: 0;
    gap: 0;
}


.room-backround .testov:nth-child(1) {
    grid-area: room-1;
}
.room-backround .testov:nth-child(2) {
    grid-area: room-2;
}
.room-backround .testov:nth-child(3) {
    grid-area: room-3;
    
}

.testov img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .room-backround {
        grid-template-columns: 1fr;
    }
    .room-backround .testov:nth-child(2) {
        grid-area: room-2;
        display: none;
    }
    .room-backround .testov:nth-child(3) {
        grid-area: room-3;
        display: none;
    }
}