mixin dropdown(props = {})
    -
        const {
            content_id = "",
            list_id = "",
            btnClearGuestsId = "",
            label = "",
        }=props
    .dropdown
        h6.label=label
        .dropdown__content(id= content_id, data-text = "Сколько гостей") Сколько гостей
        ul.dropdown__list(id = list_id)
            li.dropdown__list-item(data-value="adults")  Взрослый 
                .details-counter.counter-wrapper
                    //- счетчик
                    .items__control(data-action="minus") -
                    .items__control(data-type="adults") 0
                    .items__control(data-action="plus") +
                    //- счетчик
            li.dropdown__list-item(data-value="children")  Дети
                .details-counter.counter-wrapper 
                    //- счетчик
                    .items__control(data-action="minus") -
                    .items__control(data-type="children") 0
                    .items__control(data-action="plus") +
                    //- счетчик
            li.dropdown__list-item(data-value="infants")  Младенцы
                .details-counter.counter-wrapper 
                    //- счетчик
                    .items__control(data-action="minus") -
                    .items__control(data-type="babies") 0
                    .items__control(data-action="plus") +
                    //- счетчик
            .dropdown__buttons 
                button.button-clear(id=btnClearGuestsId) Очистить 
                button.button-apply Применить
        input.dropdown__input-hidden(type="text" name="select-category" value="")
    