//- .guests
//-     button.dropbutton Сколько гостей 
//-         .caret
//-     .drop-down
//-         .drop-text Взрослые
//-             .counter-people
//-                 .drop-minus 
//-                     .minus
//-                 .drop-counter 2
//-                 .drop-plus 
//-                     .plus1
//-                     .plus2
//-         .drop-text Подростки
//-             .counter-people
//-                 .drop-minus 
//-                     .minus
//-                 .drop-counter 0
//-                 .drop-plus 
//-                     .plus1
//-                     .plus2
//-         .drop-text Младенцы
//-             .counter-people
//-                 .drop-minus 
//-                     .minus
//-                 .drop-counter 0
//-                 .drop-plus 
//-                     .plus1
//-                     .plus2
        


.form-group 
    .dropdown
        button.dropdown__button Сколько гостей 
        ul.dropdown__list
            li.dropdown__list-item(data-value="adult")  Взрослый 
            li.dropdown__list-item(data-value="children")  Дети
            li.dropdown__list-item(data-value="infants")  Младенцы
        input.dropdown__input-hidden(type="text" name="select-category" value="")


