/* drop Version 2--------------------------------------*/


.dropdown {
  position: relative;
  // max-width: 320px;
  width: 100%;
}

.dropdown__content {
  position: relative;
  display: flex;
  width: 100%;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  background-color: #fff;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 4px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);

}



.dropdown__content::after {
  content: "";
  // display: inline-block;
  transform: rotate(45deg);
  height: 5px;
  width: 5px;

  border-bottom: 3px solid rgba(31, 32, 65, 0.5);
  border-right: 3px solid rgba(31, 32, 65, 0.5);

  pointer-events: none;

}

.dropdown__content.animation-arrow::after {
  margin-top: 5px;
  transform: rotate(-135deg);
}




.dropdown__list {
  display: none;
  position: absolute;
  left: 0;
  top: 63px;
  margin: 0;
  padding: 0;


  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  overflow: hidden;
  width: 100%;
  border-radius: 4px;

  z-index: 1;

}

.dropdown__list-item {
  background-image: none;
  margin: 0;
  padding: 12px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.details-counter {
  display: flex;
  align-items: center;
}

.dropdown__list--visible {
  display: block;
}

.dropdown__input-hidden {
  display: none;
}


.details-counter {
  gap: 10px;
}


[data-action="minus"] {
  color: rgba(31, 32, 65, 0.5);
  width: 30px;
  height: 30px;
  outline: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;

}

.disabled {
  border: 1px solid rgba(31, 32, 65, 0.25);
  pointer-events: none;
  cursor: default;

}

[data-action="plus"] {
  color: rgba(31, 32, 65, 0.5);
  width: 30px;
  height: 30px;
  outline: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

[data-action="minus"]:hover {
  background-color: rgba(31, 32, 65, 0.05);
}

[data-action="minus"]:active {
  background-color: rgba(31, 32, 65, 0.25);
  ;
}

[data-action="plus"]:hover {
  background-color: rgba(31, 32, 65, 0.05);
}

[data-action="plus"]:active {
  background-color: rgba(31, 32, 65, 0.25);
}


// Buttons start

.dropdown__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
}

.button-clear {
  background: none;
  color: #BC9CFF;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  cursor: pointer;
  display: none;
  border: none;
}

.button-clear--visible {
  display: block;

}


.button-apply {
  background: none;
  color: #BC9CFF;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: auto;
  border: none;
}